@model IEnumerable<WebShop.Models.EF.ProductImage>
@{
    ViewBag.Title = "Ảnh sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}
<style>
    .glImage{
        list-style:none;
        margin:0;
        padding:0;
        display:flex;

    }
    .glImage li {
        display:inline-block; 
        position:relative;

    }
    .box-btn{
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        text-align:center;
    }
    .box-border {
        width:200px;
        margin-left: 15px;
        border-radius: 5px;
        border: 2px solid #fff;
        background: url(img/tiger.png) no-repeat;
        box-shadow: 10px 10px 5px #ccc;
        -moz-box-shadow: 10px 10px 5px #ccc;
        -webkit-box-shadow: 10px 10px 5px #ccc;
        -khtml-box-shadow: 10px 10px 5px #ccc;
    }
</style>
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Ảnh sản phẩm</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-danger" title="Collapse">
                    Xóa hết
                </button>
                <input type="button" value="Tải ảnh"  class="btn btn-success" onclick="BrowseSever('txtImage');" />
            </div>
        </div>
        <div class="card-body">
            <ul class="glImage">
                @if(Model != null)
            {
                foreach(var item in Model)
                {
                    <li id="trow_@item.Id ">
                        <div class="box-border">
                            <img src="@item.Image" width="200" />
                        </div>
                        <div class="box-btn">
                            <a href="#" class="btn btn-sm btn-danger"><i data-id="@item.Id" class="fa fa-trash btnDelete"></i></a>
                            @if (item.IsDefault)
                            {
                                <a href="#" class="btn btn-sm btn-success"><i data-id="@item.Id" class="fa fa-check btnDefault"></i></a>

                            }
                            else
                            {
                                <a href="#" class="btn btn-sm btn-warning"><i data-id="@item.Id" class="fa fa-window-close btnDefault"></i></a>

                            }
                        </div>
                    </li>
                }
            }
            </ul>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>

<script>
    function BrowseSever(field) {
        var finder = new CKFinder();
        finder.selectActionFunction = function (fileUrl) {
            AddImage(@ViewBag.ProductId, fileUrl)
        }
        finder.popup();
    }
    function AddImage(id, url) {
        $.ajax({
            url: '/Admin/ProductImage/AddImage',
            type: 'POST',
            data: { productid: id, url: url },
            success: function (rs) {
                if (rs.success) {
                    window.location.reload();
                }
            }
        });
    }
    $(document).ready(function () {
        $('body').on('click', '.btnDelete', function () {
            var id = $(this).data('id');
            var conf = confirm("Bạn có muốn xóa ảnh này không?");
            if (conf) {
                $.ajax({
                    url: '/Admin/ProductImage/Delete',
                    type: 'POST',
                    data: { id : id },
                    success: function (rs) {
                        if (rs.success) {
                            $('#trow_' + id).remove();
                            window.location.reload();
                        }
                    }
                });
            }
        });
    });
</script>
