@model PagedList.IPagedList<WebShop.Models.ApplicationUser>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý tài khoản";
}


@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Account" class="nav-link">@ViewBag.Title</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Thêm mới</a>
        </li>
    </ul>

}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách tài khoản</h3>

            <div class="card-tools">
                <a href="/Admin/Account/Create" class="btn btn-success">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr >
                        <th>#</th>
                        <th>Tài khoản</th>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Ngày tạo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = ((ViewBag.Page - 1) * ViewBag.PageSize + 1);
                        foreach (var item in Model)
                        {
                            <tr id="trow_@item.Id">
                                <td>@i</td>
                                <td>@item.UserName</td>
                                <td>@item.Fullname</td>
                                <td>@item.Email</td>
                                <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <div class="card-tools">
                                        <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                    </div>
                                </td>
                            </tr>
                            i++;

                        }
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3"></div>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>


@section scripts{
    <script>      $('body').on('click', '.btnDelete', function () {
            var id = $(this).data("id");
            var confi = confirm("Bạn có muốn xóa bản ghi này không");
            if (confi == true) {
                $.ajax({
                    url: '/Admin/Account/delete',
                    type: 'POST',
                    data: { id, id },
                    success: function (rs) {
                        if (rs.success) {
                            $('#trow_' + id).remove();
                        }
                    }
                });
            }
      });
        </script>
    }